body{
	background-color: black;
	color: #0F0;
}

button{
	background-color: #00AE00;
	color: black;
	border: 1px solid black;
	border-radius: 3px;
}

button:hover{
	background-color: #00FF00;
	color: black;
	border: 1px solid black;
	border-radius: 3px;
}