body{
	font-family: 'Raleway', sans-serif;
}

#page-title{
	font-size: 3.5em;
}

h4.section-title{
	font-weight: bold;	
}

h4.section-title span{ 
	font-weight: normal;
}

#messages-log{
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
}

#posts{
	font-family: 'Ubuntu Mono', 'Lucida Sans Console', mono;
	font-size: 10px;
	border: 1px solid black;
}

.down20{
	margin-top: 20px;
}